.Weather {
  max-height: 800px;
  min-height: 800px;
  border-radius: 25px;
  background: #52539c url("image/bk_day.jpg") no-repeat;
  background-size: contain;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffff;
  padding: 16px;
}

.Weather form {
  width: 75%;
  margin: 0 auto;
}

.Weather h1,
h6 {
  text-align: center;
  font-weight: 100;
}

.Weather h1 {
  margin: 20px 0 5px 0;
  font-size: 1.7em;
}

.Weather h6 {
  font-size: 13px;
}

.Weather img {
  height: 64px;
  display: inline-block;
}

.Weather ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.Weather li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.Weather .change {
  border: none;
  margin-top: 5px;
}

.Weather .form-button {
  background-color: #ffff;
  border: none;
  padding: 4px 12px;
  margin-top: 5px;
}

.Weather .center {
  text-align: center;
}

.Weather .temperature {
  text-align: center;
  font-size: 50px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  top: -26px;
}
